@import '../../../styles/variables';

app-nav.top {
  grid-area: "nav";
  position: relative;
  width: 100%;

  &:after {
    content:"";
    position:absolute;
    width: 100%;
    bottom: 1px;
    z-index: 1;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
  }
}
app-about {
  grid-area: "first";
  background: url('/assets/bg1.png');
  width: 100%;
  position: relative;
}
app-basics {
  grid-area: "second";
}
app-wallet {
  grid-area: "third";
  background: url('/assets/bg1.png');
  width: 100%;
  position: relative;
}
app-resources {
  grid-area: "fourth";
  color: $text-dark;
  background-color: $background-light;
  width: 100%;
}
app-nav.bottom {
  grid-area: "footer";
}
