$background: #161c25;
$background-light:#eeeeee;
// $background: #fff000;
$text: #fff;
$text-dark: #12171e;
$text-dark-nav: #505e73;
$link: #3d65ea;

$black: #000;
$white: #fff;


$max-width: 1200px;
$medium-width: 768px;
