<svg class="top-slash" viewBox="0 0 950 30">
  <use xlink:href="#top-slash"/>
</svg>
<div class="top-clip"></div>

<div class="grid bleed">
  <div class="copy">
    <h2>Raven Dark Wallet</h2>
    <h4>Version 0.3.2 <a href="https://github.com/raven-dark/raven-dark/releases">release</a></h4>
    <h4>Build from source</h4>
    <ul>
      <li><a href="https://github.com/raven-dark/raven-dark/blob/master/doc/build-osx.md">macOS</a></li>
      <li><a href="https://github.com/raven-dark/raven-dark/blob/master/doc/build-unix.md">Linux</a></li>
      <li><a href="https://github.com/raven-dark/raven-dark/blob/master/doc/build-windows.md">Windows</a></li>
      <li><a href="https://github.com/raven-dark/raven-dark#build-and-run-with-docker">docker</a></li>
    </ul>
  </div>
  <div class="image">
    <img src="/assets/wallet.png"/>
  </div>
</div>

<div class="bottom-clip"></div>
<svg class="bottom-slash" viewBox="0 0 960 38">
  <use xlink:href="#bottom-slash"/>
</svg>
