<div class="grid bleed" [class.dark]="dark">
  <div class="logo">
    <img src="/assets/logo-light.png" class="light" alt="raven dark">
    <img src="/assets/logo-dark.png" class="dark" alt="raven dark">
  </div>
  <div class="menu-items">
    <ul>
      <li><a href="https://coinpaprika.com/storage/cdn/whitepapers/10588901.pdf">whitepaper</a></li>
      <li><a href="#blockchain">blockchain</a></li>
      <li><a href="#wallet">wallet</a></li>
      <li><a href="#resources">resources</a></li>
    </ul>
    <ul class="social">
      <li>
        <a class="discord" href="https://discord.gg/RB7z2VZ">
          <img src="/assets/discord-light.png" class="light"/>
          <img src="/assets/discord-dark.png" class="dark"/>
        </a>
      </li>
      <li>
        <a class="bitcoin-talk" href="https://bitcointalk.org/index.php?topic=5093982">
          <img src="/assets/bct-light.png" class="light"/>
          <img src="/assets/bct-dark.png" class="dark"/>
        </a>
      </li>
      <li>
        <a class="twitter" href="https://twitter.com/ravendark_xrd">
          <img src="/assets/twitter-light.png" class="light"/>
          <img src="/assets/twitter-dark.png" class="dark"/>
        </a>
      </li>
    </ul>
  </div>
</div>
