@import '../../../styles/variables';

.grid {
  padding: 0;
}
.logo {
  margin: 30px 0;
  .light {
    display: inline-block;
  }
  .dark {
    display: none;
  }
}
.menu-items {
  grid-column-start: 6;
  grid-column-end: 15;

  a {
    color: $text;
  }
}
ul {
  align-self: center;
  display: inline-block;
  justify-self: center;
  font-size: 12px;
  text-transform: uppercase;
  margin: 25px 0 0;
  padding: 0;
  li {
    list-style-type: none;
    display: inline-block;
    padding-left: 45px;
  }
}
.social {
  .light {
    display: inline-block;
  }
  .dark {
    display: none;
  }
  li {
    padding-left: 20px;
    vertical-align: middle;
    &:first-child {
      padding-left: 45px;
    }
  }
}

.dark {
  // max-width: 100%;
  // width: 100%;
  .logo {
    .light {
      display: none;
    }
    .dark {
      display: inline-block;
    }
  }
  .menu-items {
    a {
      color: $text-dark-nav;
    }
    .light {
      display: none;
    }
    .dark {
      display: inline-block;
    }
  }
}


@media only screen and (max-width: $max-width) {
  .grid.dark {
    max-width: 100%;
    width: 100%;
  }
  .menu-items {
    grid-column-start: 5;
    grid-column-end: 15;
  }
  ul {
    li {
      display: none;
      padding-left: 20px;

      &:first-child {
        padding-left: 0;
        // display: inline-block;
      }
    }
    &.social {
      padding-top: 10px;
      li {
        display: inline-block;
        padding-left: 10px;

        &:first-child {
          padding-left: 20px;
        }
      }
    }
  }
}
