@import '../../../styles/variables';

h2 {
  grid-column-start: 1;
  grid-column-end: 16;
}
.explorer {
  grid-column-start: 1;
  grid-column-end: 4;
}
.exchanges {
  grid-column-start: 5;
  grid-column-end: 8;
}
.pools {
  grid-column-start: 9;
  grid-column-end: 12;
}
.source {
  grid-column-start: 13;
  grid-column-end: 16;
}

ul {
  list-style-type: none;
  padding-left: 0;
  li {
    padding-bottom: 7px;
  }
}

.item {
  justify-self: center;
  text-align: center;
  h3, ul {
    // margin-left: -5%;
  }
  img {
    display: block;
    margin-left: 4%;
    max-width: 100%;
    width: 100%;
  }
}


@media only screen and (max-width: $medium-width) {
  .explorer, .exchanges, .pools, .source {
    grid-column-start: 1;
    grid-column-end: 15;
  }
  .item {
    img {
      margin: 0 auto;
      width: 60%;
    }
  }
}
